.homeBanner .section__inner {
    overflow-x: visible;
}
.homeBanner__leftColumn {
    padding-right: 50px;
}
.homeBanner__rightColumn {
    position: relative;
    min-height: calc(100vh - 64px);
}

.homeBanner__rightImage {
    position: absolute;
    left: -15%;
    top: 59%;
    width: 70vw;
    max-width: 1280px;
    min-height: 560px;
    transform: translateY(-50%);
}