

$black : #000;
$white: #FFF;

// -----------
// @Text
// -----------
$txt-blk-opacity: rgba(0,0,0,0.56);
$txt-wht-opacity: rgba(255, 255, 255, 0.7);
$txt-primary: #767af5;

// -----------
// @Background
// -----------
$bg-primary: #5252f2;
$bg-primary-bolder: #2d208c;
$bg-grey: rgba(0, 0, 0, 0.26);
$bg-grey-transparent: rgba(255, 255, 255, 0.1);
$bg-grey-transparent-0_8: rgba(255, 255, 255, 0.8);

// ----------
// @Border
// ----------

$tbl-border-black: rgba(0, 0, 0, 1);
$tbl-border-grey: rgba(0,0,28,0.13);
$tbl-text-grey: rgba(0,0,0,0.69);

